@import "news.css";
@import "events.css";
@import "people.css";

/* Other Feature Stuff */

#front_blockc,
#front_blockd {
  margin-bottom: 30px;
}

h3 a {
  color: #fff;
}

h3 a:hover {
  color: #fff;
  text-decoration: none;
}

.block-poll .content {
  width: 229px;
}

.poll {
  border-right: 1px solid;
}

.block-poll h3 {
  font-size: 21px;
}

.poll .percent {
  margin-bottom: -1em;
}

