/* Front */

#front-image {
  /*background: transparent url(../images/front-image-b.png) no-repeat;*/
}

#front-header {
  height:263px;
  position:relative;
  padding-top: 31px;
}

#front-header > .container {
  height:232px;
  position:relative;
}

#front-header-banner {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  overflow: visible;
}

#front-header-banner > .container {
  position: relative;
  overflow: visible;
}

#front-header-banner a#aslink {
  display: block;
  position: absolute;
  right: -2px;
  top: 0;
  text-decoration: none;
  width: 86px;
  height: 111px;
  background: transparent url(../images/banner.png) 0 0 no-repeat;
}

#front-header-tile {
  position:absolute;
  height:232px;
  width:50%;
  left:50%;
  top:31px;
}

#front-image {
  margin: -31px 0 25px;
  width: 470px;
  height: 230px; /* Keep feature blocks from doing odd things */
  position: relative;
  overflow: hidden;
}

#front-text {
  top: 30px;
}

#front-text p {
  font-size: 123%;
  color: #fff;
}

#front-text p a:link, #front-text p a:visited {
  color: #ccc;
  text-decoration: none;
}
#front-text p a:hover, #front-text p a:active {
  color: #ccc;
  text-decoration: underline;
}

#front-links {
  bottom: 20px;
}

#front-text,
#front-links {
  left: 35px;
  position: absolute;
}

#front-links ul.menu {
  padding: 0;
}

#front-links ul.menu li {
  margin: 0;
  font-size: 123%;
  white-space: nowrap;
  list-style: none;
  list-style-image: none;
  line-height: 1.69em;
  border-bottom: 1px dotted #fff;
}

#front-links ul.menu li.last {
  border-bottom: 0 none;
}

#front-links ul.menu li a {
  color:#ffffff;
  text-transform: uppercase;
}

#front-content {
  float: right;
  position: relative;
}

/* Page Content */

.view-front-page .views-field-body {
  height: 277px;
  overflow: hidden;
}

.view-id-front_page .view-content {
  position: absolute;
}

.view-id-front_page .views-field-nothing {
  background: url(../images/pagefade.png) repeat-x left bottom;
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.view-id-front_page .views-field-view-node a,
.view-id-front_page .views-field-edit-node a {
  position: absolute;
  bottom: 0;
  line-height: 1.07em;
  font-size: 107.7%;
  margin-bottom: -15px;
}

.view-id-front_page .views-field-edit-node a {
  right: 0;
}


/* Features */

body.layout-b #features {
  margin: 25px 0;
  clear: both;
}

.feature {
  position: relative;
}

.feature .view-header {
  float: none;
  font-size: 1px;
  height: 37px;
  background-position: right bottom;
  overflow: hidden;
}

.feature .view-header a {
  display: block;
  height: 37px;
  text-indent: -1000px;
}

.feature .view-content {
  float: none;
  border-right: 1px solid #000;
  height: 230px;
  padding: 20px 10px 0;
}

.feature .view-content {
  position:relative;
  margin-bottom: 30px;
}
.feature .block-views > .content:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

.feature .views-row {
  font-size: 84.6%;
  line-height: 1.18em;
}


/* Misc. Fixes */

#front-image div.block-edit-link { margin-top: 20px; }
body.front #message { margin: -25px 0 25px; }


/* Rotor module - old */
/*
div.rotor-tab {
    background: #000000;
    font-size: 8pt;
    color: #ccc;
    padding: 3px;
    margin-top: -2px;
  }
    */

div.nivo-caption p {
    color: #ddd;
    padding: 0.5em;
    text-transform: uppercase;
    font-size: 11px;
  }

div#block-views-front_page-block_1 {
    padding: 0 20px 0;
    height: 230px;
    overflow: display;
    width: 430px;
    font-size: 13px;
  }

#front_blockb {
    min-height: 315px;
}
